<!doctype html>
<html id="qr-generator" lang="en">
<head>
    <meta charset="utf-8">
    <title>ASCII QR code generator</title>
    
    {{#each css_files}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
    
    <script src="public/js/clipboard.min.js"></script>
    <script src="public/js/app.js"></script>

    <script>
      window.onload = function() {
        app.init();
      }
    </script>
</head>
<body>

  <h1><a href="/"><img src="public/graphics/logo.svg" id="logo"> ASCII QR code generator</a></h1>

{{{body}}}

</body>
</html>
