  <textarea id="output"></textarea>
  <label for="input">Type text or URI here:</label>
  <input id="input" value="{{sample_input_data}}">
  <input id="initial-input-data" type="hidden" value="{{sample_input_data}}">
